<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head'); %>
</head>

<body>
    <%- include('../includes/header'); %>

    <main>
        <h1>Système solaire</h1>
        <section class="d-flex flex-row justify-content-around flex-wrap">
        <% planetes.forEach(function(planete) { %>
            <article style="width: 300px;">
                <img src=<%=planete.link %> style="width: 100%;" alt="image">
                <h2 style="width: 100%;text-align: center;">
                    <%= planete.id %> _ <%= planete.title %>
                </h2>
                <p style="width: 100%;text-align: center;">
                    <%= planete.description %>
                </p>
                <div  class="d-flex flex-row justify-content-center flex-wrap">
                    <button>Edit</button>
                    <button>Delet</button>
                </div>
            </article>
        <% }); %>
        </section>
    </main>
        <%- include('../includes/footer'); %>
</body>

</html>