<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head'); %>
</head>

<body>
    <%- include('../includes/header'); %>
        <main>
            <h1>Panier</h1>

            <% if (products.length > 0) { %>
                <ul class="d-flex flex-row justify-content-around flex-wrap">
                    <% products.forEach(product => { %>
                        <li class="text-center text-justify text-wrap" style="position: relative; width:300px; height: 600px; margin:20px;">
                            <h3> <%= product.productData.title %></h3>
                            <div style="width: 100%;height: 300px; background-image: url('<%=product.productData.link %>'); background-position: center; background-repeat: no-repeat; background-size: cover;"></div>
                            <p>QUANTITE : <%= product.qte %> </br> PRIX : <%= product.qte  * product.productData.price%> €</p>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= product.productData.id %>" name="productId">
                                <button class="btn" type="submit">Supprimer</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <h1>Aucun produit dans le panier !</h1>
            <% } %>
            
        </main>
        <%- include('../includes/footer'); %>
</body>

</html>